.typeOfUser{
    font-size: 20px;
}

label{
    width:75px;
}
input{
    width:250px;
}
.tags{
    width:fit-content;
}
a{
    color:white;
}
.normal,.contributor{
    width:fit-content;
    color:black;
}
.entireForm{
    width:30vw;
    min-width:400px;
}