{% extends 'contributorbase.html' %}

{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load static %}
    <link rel="stylesheet" href="/static/css/contributor/contributorcreatepage2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor Homepage</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link" href="/contributor/homepage">Contributor Home</a></li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav float-right">
                    <li class="nav-item"><a class="nav-link" href="/contributor/createPage1">Create Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contributor/createhistorypage">Create History</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contributor/contributorProfilePage">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contributor/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="bg-dark m-4 body text-white">
        <p class="display-4 m-2">Create Page</p>
        <p class="m-3 header2">Type of content</p>
        <div class="tags m-3">
            <p class="job border border-dark text-center d-inline bg-light text-dark rounded-left p-1"><a class="text-dark" href="/contributor/createPage1">Job Posting</a></p>
            <p class="course border border-dark text-center d-inline bg-warning text-dark p-1">Course
            </p>
            <p class="article border border-dark text-center d-inline bg-light text-dark rounded-right p-1"><a class="text-dark" href="/contributor/createPage3">Article</a></p>
        </div>
        <div class="form form2">
            <form action="/contributor/create2" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>





    {% endblock %}