{% extends 'contributorbase.html' %}

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load static %}
    <link rel="stylesheet" href="/static/css/contributor/contributorcreatehistory.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor Homepage</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link" href="/contributor/homepage">Contributor Home</a></li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav float-right">
                    <li class="nav-item"><a class="nav-link" href="/contributor/createPage1">Create Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contributor/createhistorypage">Create History</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contributor/contributorProfilePage">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contributor/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="mx-4">Job Details</h1>
    <div class="p-5 m-3 bg-secondary clearfix">
        <img class="float-left" src="../../media/{{job.companyPicture}}" alt="Google" width="200px" height="200px">
        <div class="d-inline-block mx-5">
            <p class="m-0 display-4">{{job.companyName}}</p>
            <p class="m-0 display-4">{{job.jobTitle}}</p>
            <p class="m-0 display-4">{{job.jobSalary}}</p>
        </div>
    </div>
    <h1 class="mx-4">Job Applicant Details</h1>
    
    <table class="table mx-5">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Real Name</th>
            <th scope="col">Age</th>
            <th scope="col">Resume</th>
        </tr>
        {% for jobApplicant in jobApplicationDetails %}
        <tr scope="row">
            <td>{{jobApplicant.userName}}</th>
            <td>{{jobApplicant.realName}}</th>
            <td>{{jobApplicant.age}}</th>
            <td><a href="/media/{{jobApplicant.resume}}">Open Resume</a></th>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}